### Miscellaneous
.DS_Store
Thumbs.db

### Composer
/vendor/

### IDE
#/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Environment Credentials
.env.env
.env
.env.production
cache/
/htdocs/content/advanced-cache.php
/htdocs/content/wp-rocket-config/
updraft/
plugins/
mu-plugins/
