### Miscellaneous
.DS_Store
Thumbs.db

### Homestead
after.sh
aliases
Homestead.yaml
Vagrantfile

### Vagrant
/.vagrant

### Composer
/vendor/

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
uploads/
/htdocs/content/upgrade/
/htdocs/content/advanced-cache.php
/htdocs/content/wp-rocket-config/
updraft/
plugins/
mu-plugins/
/htdocs/content/object-cache.php
/htdocs/content/db.php

### Environment Credentials
.env.env
.env
.env.production
cache/

.github/
