#calendar, #calendar-list {

  .fc-toolbar-title, button {
    text-transform: capitalize;
  }

  .fc-toolbar.fc-header-toolbar {
    flex-direction: column;

    @include media('desktop') {
      flex-direction: row;
    }

    .fc-toolbar-chunk {
      padding: 0.3rem 0;
    }
  }

  .fc-list-table {
    td {
      word-break: normal;
    }

    th {
      word-break: normal;
    }
    
    .fc-list-day-text, .fc-list-day-side-text {
      text-transform: capitalize;
    }

    .fc-list-event-time {
      display: none;
    }

    .fc-list-day-cushion {
      display: flex;
      flex-direction: column;

      @include media('desktop') {
        display: block;
      }
    }
  }
}

#calendar {
  margin-bottom: 2rem;
  .fc-view-harness {
    height: 350px !important;
  }

  @include media(mobile) {
    height: auto !important;
  }
}

#calendar-list {
  border-bottom: 1px solid $purple;
  padding-bottom: 1rem;
  .fc-view-harness {
    height: 400px !important;
    .fc-scroller {
      overflow: scroll !important;
    }
  }
}
