$screen-xs-min: 0;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 767px;

//Small tablets (landscape view)

// Small tablets (portrait view)
$screen-md-min: 1024px;

// Tablets and small desktops
$screen-lg-min: 1200px;

// Large tablets and desktops
$screen-xl-min: 1920px;

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;
