/**
 * Checkout
 */
.checkout.woocommerce-checkout {
	display: flex;
	flex-direction: column;

	h3 {
		color: $purple;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}

	#customer_details, #order_review {
		margin-bottom: 30px;
		width: 100%;
	}

	.payment-icon-block {
		img {
			margin: 0.5rem !important;
		}
	}
}

.woocommerce-order-pay {
	form#order_review {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {

	.col2-set {

		.form-row-first {
			float: left;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {

			@include column-width(2);
		}
	}
}
